

body{
    background-color:rgb(207, 205, 164);
    background-size: 100% 100vh;
    background-repeat: no-repeat; 
}
.restaurant-logo{
    float: left;
    background-size: cover;
    background-image: url(../images/IndianResLogo.jpg);
    width: 100px;
    height: 100px; 
    margin-bottom: 2px;
    /* align-items: center; */
}

.nav-elements{
    display: flex;
    justify-content: right;
    align-items:center;
    
}
 .header li{
    float: right;
}
.header button{
    margin-left: 5px;
    margin-right: 5px;;
    width: 100px;
    height: 30px;
    color:white;
    border: 0px solid rgb(48, 1, 48);
    background-color: rgb(48, 1, 48);
    border-radius: 5px;
}
.header img{
    margin-left: 5px;
    width: 30px;
    /* background-color: rgba(224, 111, 111, 0.223); */
}
.header ul{
    list-style-type: none;
}

#mainpicture-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 2px;
    width: 1497px;
    height:812px;
    background-image: url("../images/main\ picture.webp");
    background-size:cover;
    background-repeat:no-repeat;
}
#Welcome-container {

    /* align-items: center; */
    height: 100px;
    width: 400px;
    color:white;
    padding: 75px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(48, 1, 48);

}
#order-online-btn
{
    font-weight:bolder;
    font-size: small;
    height:30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid gray;
}
#food-picture-container{
    display: flex;
    justify-content:space-around;

}
#food-picture-container img{
    height: 325px;
    width:300px;
}
#review-header h3{
    text-align: center;
}
#review-container{
    height: 100px;
    width:auto;
    border: 2px solid black;
    border-radius: 5px;

}